html, body, #map
{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.overlay {
  width: 200px;
  position: absolute;
  top: 10;
  left: 10;
  margin: 5px;
  z-index: 90;
  background-color: rgba(255, 255, 255, 0.6);
}
