[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
transifex-client = "*"
sphinx-intl = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
build = "sphinx-build -M html source build"
dev = "sphinx-autobuild -b html source build/html"
